version: "3.8"

services:
  postgres-db:
    container_name: tesseract-postgres
    image: postgres # use latest official postgres version
    restart: always
    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: bekind23
      POSTGRES_DB: dev
      POSTGRES_HOST_AUTH_METHOD: password
    ports:
      - "5432:5432"

  minio:
    image: quay.io/minio/minio:RELEASE.2022-02-18T01-50-10Z
    volumes:
      - ./data:/data
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      MINIO_ROOT_USER: 'admin'
      MINIO_ROOT_PASSWORD: 'password'
      MINIO_ADDRESS: ':9000'
      MINIO_CONSOLE_ADDRESS: ':9001'
    command: minio server /data

volumes:
  postgresql_data:
    driver: local
